
p{
    margin-bottom:-20em;
    margin-top:0.5em;

}
a{
    
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color:#FFE4B5;
    font-size: 50px;
    font-family:'Arial Unicode MS';
}
    A:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color:darkred; /* Ссылка красного цвета */
   }


hr{
    height: 2px;
    width:595px;
    position:center;
}
h1 {
                font-size: 63px;
                font-family: Monaco, Courier, monospace;
                color:#DEB887;
                background-image:url(фонссыл.jpg);
                background-repeat:no-repeat;
                 background-position:center;
                 background-size: 595px 200px;

            }
body {
                 background-image:url(fon4.jpg);
                 background-position:center 1px;
                 
                 background-size: 100% 60%;
                
            
                  }

